{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The HDInsight Management Client.",
        "title": "HDInsightManagementClient",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/locations.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "hdinsight-locations",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/usages": {
            "get": {
                "description": "Lists the usages for the specified location.",
                "operationId": "Locations_ListUsages",
                "parameters": [
                    {
                        "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The location to get capabilities for.",
                        "in": "path",
                        "name": "location",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The HDInsight client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response for the operation to get regional usages for a subscription.",
                                    "properties": {
                                        "value": {
                                            "description": "The list of usages.",
                                            "items": {
                                                "description": "The details about the usage of a particular limited resource.",
                                                "properties": {
                                                    "currentValue": {
                                                        "description": "The current usage.",
                                                        "type": "integer"
                                                    },
                                                    "limit": {
                                                        "description": "The maximum allowed usage.",
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "description": "The details about the localizable name of the used resource.",
                                                        "properties": {
                                                            "localizedValue": {
                                                                "description": "The localized name of the used resource.",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "The name of the used resource.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "readOnly": true,
                                                        "type": "object"
                                                    },
                                                    "unit": {
                                                        "description": "The type of measurement for usage.",
                                                        "type": "string"
                                                    }
                                                },
                                                "readOnly": true,
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "readOnly": true,
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Regions"
                ],
                "x-ms-examples": {
                    "Get the subscription usages for specific location": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "location": "West US",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "Body": {
                                    "value": [
                                        {
                                            "currentValue": 0,
                                            "limit": 5000,
                                            "name": {
                                                "localizedValue": "Cores",
                                                "value": "cores"
                                            },
                                            "unit": "Count"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "LocalizedName": {
                "description": "The details about the localizable name of a type of usage.",
                "properties": {
                    "localizedValue": {
                        "description": "The localized name of the used resource.",
                        "type": "string"
                    },
                    "value": {
                        "description": "The name of the used resource.",
                        "type": "string"
                    }
                },
                "readOnly": true,
                "type": "object"
            },
            "Usage": {
                "description": "The details about the usage of a particular limited resource.",
                "properties": {
                    "currentValue": {
                        "description": "The current usage.",
                        "type": "integer"
                    },
                    "limit": {
                        "description": "The maximum allowed usage.",
                        "type": "integer"
                    },
                    "name": {
                        "description": "The details about the localizable name of the used resource.",
                        "properties": {
                            "localizedValue": {
                                "description": "The localized name of the used resource.",
                                "type": "string"
                            },
                            "value": {
                                "description": "The name of the used resource.",
                                "type": "string"
                            }
                        },
                        "readOnly": true,
                        "type": "object"
                    },
                    "unit": {
                        "description": "The type of measurement for usage.",
                        "type": "string"
                    }
                },
                "readOnly": true,
                "type": "object"
            },
            "UsagesListResult": {
                "description": "The response for the operation to get regional usages for a subscription.",
                "properties": {
                    "value": {
                        "description": "The list of usages.",
                        "items": {
                            "description": "The details about the usage of a particular limited resource.",
                            "properties": {
                                "currentValue": {
                                    "description": "The current usage.",
                                    "type": "integer"
                                },
                                "limit": {
                                    "description": "The maximum allowed usage.",
                                    "type": "integer"
                                },
                                "name": {
                                    "description": "The details about the localizable name of the used resource.",
                                    "properties": {
                                        "localizedValue": {
                                            "description": "The localized name of the used resource.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The name of the used resource.",
                                            "type": "string"
                                        }
                                    },
                                    "readOnly": true,
                                    "type": "object"
                                },
                                "unit": {
                                    "description": "The type of measurement for usage.",
                                    "type": "string"
                                }
                            },
                            "readOnly": true,
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "readOnly": true,
                "type": "object"
            }
        },
        "parameters": {
            "ApiVersionParameter": {
                "description": "The HDInsight client API Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "LocationParameter": {
                "description": "The location to get capabilities for.",
                "in": "path",
                "name": "location",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "SubscriptionIdParameter": {
                "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}